* {
    font-family: Courier;
    color: #000000;
    font-weight: bold;
}

p {
	font-size: 18;
}

select {
	font-size: 18;
	position: relative;
}

div {
	position: relative;
}

svg {
	display: block;
	margin: auto;
}

.line {
  fill: none;
  stroke: #22A5FF;
  stroke-width: 2px;
}