* {
    font-family: Helvetica;
    color: #000000;
    font-weight: bold;
}

p {
	font-size: 18;
}

select {
	font-size: 18;
	position: relative;
}

div {
	position: relative;
}

svg {
	display: block;
	margin: auto;
}

.line {
	fill: none;
	stroke: var(--primary);
	stroke-width: 3px;
}

.dot {
	fill: var(--secondary);
}

.axis {
	stroke-width: 3px;
	font-size: 20;
}